<% if !User.current.allowed_to?(:view_time_entries, @project) && (view_only_own_time_entries = User.current.allowed_to?(:view_only_own_time_entries, @project)) %>
  <% options = view_only_own_time_entries ? { :user => User.current } : {} %>
  <% total_spent_hours = @issue.total_spent_hours(options) %>
  <% td_value = (total_spent_hours > 0 ? link_to(l_hours(total_spent_hours), project_issue_time_entries_path(@project, @issue)) : "-") %>
  <% th_value = "#{l(:label_spent_time)}:" %>

  <%= javascript_tag do %>
    // find first empty th/td element in the 2nd column in the table of attributes
    var th = $('div.issue.details table:first tr th:nth-child(3):not([class]):first');
    var td = $('div.issue.details table:first tr td:nth-child(4):not([class]):first');

    if (th.size() > 0){
      th.html('<%= th_value %>').addClass('spent-time');
      td.html('<%= td_value %>').addClass('spent-time');
    } else {
      // if no empty element in the 2nd column append new line (tr)
      var table = $('div.issue.details table:first');
      table.append('<tr><th></th><td></td><th class="spent-time"><%= th_value %></th><td class="spent-time"><%= td_value %></td></tr>');
    }
  <% end %>

<% end %>
